# Server API where the backend code resides. Strapi code.
API_URL=http://localhost:1337

# Next.js server, where the frontend will make its calls.
BFF_URL=http://localhost:3000

NEXT_PUBLIC_ASSETS_URL=
